.settings_dashboard_topbar {
  height: 57px;
  border-bottom: 1px solid #f5f5f4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 14.5px 16px;
  background-color: #fff;
  z-index: 100;
}
