.breadCrumb_wrapper {
  position: sticky;
  bottom: 0;
  right: 0;
  width: calc(100% - 1px);
  left: calc(100% - 250px);
  align-items: center;
  height: 25px;
  padding: 4px 8px;
  background-color: #fff;
  z-index: 200;
  margin-left: 1px;
}
