.tda_login_title {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: .5;
    text-align: center;
    color: #030712;
}

.tda_login_caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: .1;
    text-align: center;
    color: #030712;
}